<div id="soc">
    <a href="https://vk.com/id617027961" target="_blank"><img src="{{ url_for('static', path='images/soc/v.png') }}"></a>
    <a href="https://web-telegram.ru/#@Maxim_Shelkov" target="_blank"><img src="{{ url_for('static', path='images/soc/t.png') }}"></a>
    <a href="https://www.youtube.com/watch?v=jYwrz7muVw8&t=816s" target="_blank"><img src="{{ url_for('static', path='images/soc/y.png') }}"></a>
    <a href="https://dzen.ru/?yredirect=true" target="_blank"><img src="{{ url_for('static', path='images/soc/d.png') }}"></a>
</div>