{% extends "base.html" %}

{% block title %} Fairway - авторская музыка, покупка прав на использование {% endblock %}

{% block content %}

<div id="top">
	<div class="container">
		{% include "include/main_menu.html" %}
	</div>
</div>

<div id="crumbs">
    <div class="container">
        <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Главная</a></li>
			<li class="breadcrumb-item active">Корзина</li>
		</ol>
    </div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-xl-8">
		<h1>Корзина</h1>
	<div class="row no-gutters align-items-center" id="prod">
		<div class="col-xl-1">
			<a href="{{ url_for('tools') }}"><img src="{{ url_for('static', path='images/play.png') }}" class="play"></a>
		</div>
		<div class="col-xl-8 px-4">
			<b>Energetic Happy Rock</b><br>
			ID: 135380
		</div>
		<div class="col-xl-2">
			<span>1 300 р.</span>
		</div>
		<div class="col-xl-1">
			<a href="{{ url_for('basket') }}"><img src="{{ url_for('static', path='images/close.png') }}"></a>
		</div>
	</div>
	<div class="row no-gutters align-items-center" id="prod">
		<div class="col-xl-1">
			<a href="{{ url_for('tools') }}"><img src="{{ url_for('static', path='images/play.png') }}" class="play"></a>
		</div>
		<div class="col-xl-8 px-4">
			<b>Dramatic Piano and Strings</b><br>
			ID: 135380
		</div>
		<div class="col-xl-2">
			<span>1 300 р.</span>
		</div>
		<div class="col-xl-1">
			<a href="{{ url_for('basket') }}"><img src="{{ url_for('static', path='images/close.png') }}"></a>
		</div>
	</div>
	<div class="row no-gutters align-items-center" id="prod">
		<div class="col-xl-1">
			<a href="{{ url_for('tools') }}"><img src="{{ url_for('static', path='images/play.png') }}" class="play"></a>
		</div>
		<div class="col-xl-8 px-4">
			<b>Восторженная эпопея</b><br>
			ID: 135380
		</div>
		<div class="col-xl-2">
			<span>1 300 р.</span>
		</div>
		<div class="col-xl-1">
			<a href="{{ url_for('basket') }}"><img src="{{ url_for('static', path='images/close.png') }}"></a>
		</div>
	</div>
		<hr class="mt-4 mb-3">
		<h2 class="mb-4">Итого <span id="niz_zag">4 550 р.</span></h2>
		<a href="#" id="form_btn" class="cart">Оплатить</a>
		<br><br>
		</div>
		<div class="col-xl-4">
			<h2>Варианты оплаты:</h2>
			<p>К оплате принимаются банковские карты
			Visa и MasterCard, а так же электронные
			кошельки Kivi и Yandex.</p>
			<a href="#" id="form_btn" class="cart">Очистить список покупок</a>
		</div>
	</div>
		
</div>

{% include "include/footer.html" %}

{% endblock %}