{% extends "base.html" %}
{% block title %} Fairway - авторская музыка, покупка прав на использование {% endblock %}

{% include "include/meta_tags.html" %}

{% block content %}

<div id="top">
	<div class="container">
		{% include "include/main_menu.html" %}
	</div>
</div>

<div id="crumbs">
    <div class="container">
        <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Главная</a></li>
			<li class="breadcrumb-item active">Инструменты</li>
		</ol>
    </div>
</div>

<div class="container">
	<h1>Инструменты</h1>
	<div class="row align-items-center" id="inst">
    <div class="col-xl-6">
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="pc mt-3">
    </div>
    <div class="col-xl-6">
        <h2>Название инструмента</h2>
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="mi mb-3">
        <p>Текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст</p>
    </div>
    <div class="col-xl-6 right">
        <h2>Название инструмента</h2>
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="mi mb-3">
        <p>Текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст</p>
    </div>
    <div class="col-xl-6">
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="pc mt-3">
    </div>
    <div class="col-xl-6">
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="pc mt-3">
    </div>
    <div class="col-xl-6">
        <h2>Название инструмента</h2>
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="mi mb-3">
        <p>Текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст</p>
    </div>
    <div class="col-xl-6 right">
        <h2>Название инструмента</h2>
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="mi mb-3">
        <p>Текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст, текст</p>
    </div>
    <div class="col-xl-6">
        <img src="{{ url_for('static', path='images/inst/1.jpg')}}" class="pc mt-3">
    </div>
</div>
</div>

{% include "include/footer.html" %}

{% endblock %}